{% extends "admin/base.html" %}
{% load static %}

{% block title %}Smart Core Assistant Admin{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo_smart.png' %}" alt="Smart Core Assistant" height="40"
            style="vertical-align: middle; margin-right: 10px;">
        Smart Core Assistant
    </a>
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin_theme.css' %}">
{% endblock %}